<%= index_display_header %>



<% if @stocks.blank? %>

    <h2>No stocks yet. Create a stock <%= link_to "here", new_stock_path%></h2>

<% else %>
  <%= render partial: "stocks", locals: {stocks: @stocks} %>

<% end %>
